# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]

# Distribution / packaging
*.egg-info/

# Environments
.env
.venv
env/
venv/

# PyCharm
.idea/

# Visual Studio Code
.vscode/

# Data files
data/
